<html
  xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkwell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <style type='text/css'>
        body{
          background-color:#044a14;
        }
        .header{
          margin-top: 18px;
        }
        .card{
          margin: auto;
        }
        .card-text{
          font-size: 12px;
        }
        .social{
         margin-top:4px;
         color:#fffdd0;
         font-size: 11px;
        }
        .social-icons{
          display: flex;
          justify-content: space-between;
          
        }
        .icon1{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        .icon2{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        .icon3{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        
    </style>
</head>
<body>
    
   <div class="header d-flex align-items-center justify-content-center">
       <h2 style="color:white; font-size:35px; border-style:solid; padding:7px;">
        Park<span style="font-weight: 100;">well</span>
    </h2>
   </div>



   <div class="card" style="width: 26rem;">
    <img style="height:230px" src="https://da28rauy2a860.cloudfront.net/outdoordesign.com.au/contents/6393/20180817115428_832.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 style="font-weight: bold;" class="card-title">Welcome Onboard 🎉</h3>
      <p class="card-text">Hello (username),</p>
      <p class="card-text">
        We're thrilled to have you join our community of users who are simplifying their parking
        experience one spot at a time. We understand how frustrating parking can be, and that's why we're 
        here to make your life easier. With parkwell, you can effortlessly find, reserve, and pay for parking 
        spaces, saving you time and reducing stress.
        <br/>
        <br/>
        We're excited to have you on board, and we look forward to making your parking experience effortless
        and enjoyable.
        <br/>
        <br/>
        Happy parking!<br/>
        Best Regards,<br/>
        The Parkwell Team.
      </p>
      <a style=" width:122px; margin-left:120px; padding:4px; color:#044a14; font-weight:bold; border-radius:19px; border-style:solid; border-color:#044a14; border-width:2px;" href="#" class="btn">
        <svg style="margin-left: -14px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="27" height="27"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM13 12V8H11V12H8L12 16L16 12H13Z" fill="rgba(4,74,20,1)"></path></svg>Download</a>
    </div>
  </div>

   <p class="social d-flex align-items-center justify-content-center">View more updates on our social media</p>

   <div class="social-icons d-flex align-items-center justify-content-center">
    <a class="icon1" href="">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="19" height="19">
        <path d="M9 3H15L17 5H21C21.5523 5 22 5.44772 22 6V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V6C2 5.44772 2.44772 5 3 5H7L9 3ZM12 19C15.3137 19 18 16.3137 18 13C18 9.68629 15.3137 7 12 7C8.68629 7 6 9.68629 6 13C6 16.3137 8.68629 19 12 19ZM12 17C9.79086 17 8 15.2091 8 13C8 10.7909 9.79086 9 12 9C14.2091 9 16 10.7909 16 13C16 15.2091 14.2091 17 12 17Z" fill="rgba(4,74,20,1)"></path>
      </svg>
    </a>
    <a class="icon2" href="">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="19" height="19">
        <path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z" fill="rgba(4,74,20,1)"></path>
      </svg>
    </a>
    <a class="icon3" href="">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="19" height="19">
        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM9.71002 19.6674C8.74743 17.6259 8.15732 15.3742 8.02731 13H4.06189C4.458 16.1765 6.71639 18.7747 9.71002 19.6674ZM10.0307 13C10.1811 15.4388 10.8778 17.7297 12 19.752C13.1222 17.7297 13.8189 15.4388 13.9693 13H10.0307ZM19.9381 13H15.9727C15.8427 15.3742 15.2526 17.6259 14.29 19.6674C17.2836 18.7747 19.542 16.1765 19.9381 13ZM4.06189 11H8.02731C8.15732 8.62577 8.74743 6.37407 9.71002 4.33256C6.71639 5.22533 4.458 7.8235 4.06189 11ZM10.0307 11H13.9693C13.8189 8.56122 13.1222 6.27025 12 4.24799C10.8778 6.27025 10.1811 8.56122 10.0307 11ZM14.29 4.33256C15.2526 6.37407 15.8427 8.62577 15.9727 11H19.9381C19.542 7.8235 17.2836 5.22533 14.29 4.33256Z" fill="rgba(232,190,100,1)"></path>
      </svg>
    </a>
   </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>