<html
  xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Dear [User's Name],</h3>
                <p>Did you know that as a Parkwell app user, you have access to exclusive features that will make your parking experience easy? Here are some highlights:</p>
                <ol>
                    <li> Reserved Parking</li>
                    <li> In-App Payments</li>
                    <li> Real-time Availability Updates</li>
                </ol>
                <p>Stay tuned for more tips on how to maximize these features!</p>
                <p>Have a great parking experience,</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
