<html
  xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkwell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        body{
          background-color:#ffeecc;
        }
        .header{
          margin-top: 18px;
        }
        .card{
          margin: auto;
        }
        .card-text{
          font-size: 12px;
        }
        .social{
         margin-top:4px;
         color:#fffdd0;
         font-size: 11px;
        }
        .social-icons{
          display: flex;
          justify-content: space-between;
          
        }
        .icon1{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        .icon2{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        .icon3{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        
    </style>
</head>
<body>
    
   <div class="header d-flex align-items-center justify-content-center">
       <h2 style="color:#085e25; font-size:35px; border-style:solid; padding:7px;">
        Park<span style="font-weight: 100;">well</span>
    </h2>
   </div>



   <div class="card" style="width: 26rem;">
    <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Hi [User's Name],</h3>
                <p class="card-text">Getting the perfect place to park can be really tiring, especially when you’re driving into a city you’re new to. What if we told you that we’ve curated a list of car parks just for you? Now you don’t need to spend so much time circling around the city looking for a parking spot—all you need to do is open the Parkwell app and choose any park of your choice.</p>
                <p class="card-text">One of the features of the Parkwell app we love so much is the one that allows you to reserve and pay for your parking spot beforehand.</p>
                <img style="height:185px" src="https://mail.google.com/mail/u/0?ui=2&ik=38c08fddac&attid=0.1&permmsgid=msg-a:r-8225203114758889227&th=18c48cc35cf61277&view=att&disp=safe&realattid=18c48cc25992464a2e01" class="card-img-top" alt="...">
                <p class="card-text">Check out the Parkwell app for a list of car parks near you. Remember, whenever you need a place to park your car, check PARKWELL.</p>
                <p class="card-text">If you have any questions or need assistance, our dedicated support team is available 24/7 to help. Feel free to reach out via email at <a href="mailto:info@parkwell.africa">info@parkwell.africa</a> or give us a call at +2349139959110.</p>
                <p class="card-text">Best regards,<br>Tobi from Parkwell</p>
    </div>
  </div>

   



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
