<html
  xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkwell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        body{
          background-color:#ffeecc;
        }
        .header{
          margin-top: 18px;
        }
        .card{
          margin: auto;
        }
        .card-text{
          font-size: 12px;
        }
        .social{
         margin-top:4px;
         color:#fffdd0;
         font-size: 11px;
        }
        .social-icons{
          display: flex;
          justify-content: space-between;
          
        }
        .icon1{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        .icon2{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        .icon3{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        
    </style>
</head>
<body>
    
   <div class="header d-flex align-items-center justify-content-center">
       <h2 style="color:#085e25; font-size:35px; border-style:solid; padding:7px;">
        Park<span style="font-weight: 100;">well</span>
    </h2>
   </div>



   <div class="card" style="width: 26rem;">
    <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Dear [User's Name],</h3>
        <p class="card-text">Welcome to Parkwell! We're excited to have you join our community of smart parkers. Our app is here to make your parking experience as effortless as possible.</p>
        <p class="card-text">Here's how you can locate parking on the Parkwell app with ease:</p>
        <ul class="card-text">
            <li><span>📍</span> Enter your current location in the search bar.</li>
            <li><span>🚗</span> Choose your preferred parking lot.</li>
            <li><span>⏰</span> Select the plan that suits your needs - whether it's hourly, daily, or monthly.</li>
            <li><span>📲</span> Finally, reserve your parking spot with a tap!</li>
        </ul>

        <img style="height:185px" src="https://mail.google.com/mail/u/0?ui=2&ik=38c08fddac&attid=0.1&permmsgid=msg-a:r2376853706755553923&th=18c3a84d229dd43b&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-qlV7fOc9LSUAqTERdLCreuOkwbOUXRTQbhxzBxmitehI1gHYgaG79HM_8VroBQp3-XSNlGKXFakOK5a9CEyib2vnMwLSgugbH34WCDw64ScumxEWMKUTTgU8&disp=emb&realattid=ii_lpsh4owr0" class="card-img-top" alt="...">
        <p class="card-text">Follow these steps and start enjoying smarter parking today!</p>
        <p class="card-text">Best regards,<br>Tobi from Parkwell</p>
    </div>
  </div>

   



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>