<html
  xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkwell</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        body{
          background-color:#ffeecc;
        }
        .header{
          margin-top: 18px;
        }
        .card{
          margin: auto;
        }
        .card-text{
          font-size: 12px;
        }
        .social{
         margin-top:4px;
         color:#fffdd0;
         font-size: 11px;
        }
        .social-icons{
          display: flex;
          justify-content: space-between;
          
        }
        .icon1{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        .icon2{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        .icon3{
          width: 30px;
          height: 30px;
          background: #fffdd0;
          padding:2px 5px;
          border-radius: 14px;
          margin-right: 15px;
        }
        
    </style>
</head>
<body>
    
   <div class="header d-flex align-items-center justify-content-center">
       <h2 style="color:#085e25; font-size:35px; border-style:solid; padding:7px;">
        Park<span style="font-weight: 100;">well</span>
    </h2>
   </div>



   <div class="card" style="width: 26rem;">
    <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Dear [User's Name],</h3>
                <p class="card-text">We hope you've been having a great time exploring the Parkwell app. We're committed to your convenience, and if you ever need assistance, our 24/7 support team is here to help.<br/><img style="height:185px" src="https://mail.google.com/mail/u/0?ui=2&ik=38c08fddac&attid=0.1&permmsgid=msg-a:r-3139143074104760272&th=18c48cdeee60eaa0&view=att&disp=safe&realattid=18c48cddb934ece74a51" class="card-img-top" alt="..."> <br/><br/> Just click "support" in the app, and you'd be directed to our customer support. You can also send us an email at <a href="mailto:info@parkwell.africa">info@parkwell.africa</a>.</p>
                <p class="card-text">We look forward to serving you!</p>
                <p class="card-text">Best regards,<br>Tobi from Parkwell</p>
        
    </div>
  </div>

   



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>